* {
    box-sizing: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8rem;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 5px;
    overflow: auto;
}

#about .container h2{
    padding: 10px 10px;
    margin: 10px 20px;
}

.text-center{
    text-align: center;
}

.text-primary{
    color: #a4131c;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

#about{
    height: 450px;
}
#about .items{
    float: right;
    width: 50%;
    height: 90%;
    text-align: none;
    padding: 5px 5px;
    overflow: hidden;
}

#what .items .item{
    padding-bottom: 5px;
}

#about .about-img{
    float: left;
    width: 40%;
    min-height: 100%;
    background: url(../img/RXPG8574.JPG) no-repeat center center/cover;
}

#about .about-img img{
    display: inline-block;
    border-radius: 60px;
}

#contact{
    height: 150px;
    min-height: 100%;
    width: 100%;
}

