*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

p{
    margin: 10px 0;
}


table, th, td{
    border: 1px solid black;
}
table{
    display: inline-block;
    width: 100%;
}

img{
    width: 50%;
    height: 100%;
}

body{
    display: inline-block;
}

.text-primary{
    color: #030303;
    font-size: 18px;
    font-weight: 700;
}

.showcase-text{
    padding: 30px 20px;
    padding-top: 190px;
    margin: 30px 20px;
    text-align: center;
    font-weight: 500;
}
.showcase{
    background: url(../img/Media\ \(6\).jpg) no-repeat center center/cover;
    height: 700px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: small;
}
#home{
    
}
.btn-light{
    background: #f4f4f4;
    color:#333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-primary{
    background: #f7c08a;
    color: #333;
}

.btn {
display: inline-block;
font-size: 18px;
color: #fff;
background:#333;
padding: 20px 20px;
border: none;
cursor: pointer;
text-decoration: none;
width: 100%;
}

.item{
    background-color: #333;
    text-align:center;
    padding-bottom: 3995px;
}

.btn:hover{
background: #f7c08a;
color: #333;
}

#about_me {
    height: 500px;
}

#about_me .about-img{
    float: left;
    width: 50%;
    background: url(../img/me.jpg) no-repeat center center/cover;
    min-height: 100%;
}

#about_me .about-text{
    line-height: 1.7em;
    text-align: center;
    padding: 20px 10px;
}

#my_family {
    height: 1520px;
}

.bg-back{
    display: inline-block;
    background-color: #f7c08a;
    width: 100%;
    color: #333;
    padding: 20px 10px;
    text-align: center;
}
.family-img img{
    width: 100%;
}

#my_family .family-text{
    background-color: #f7c08a;
    color: #333;
    line-height: 1.7em;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px;
}

#my_friends {
    height: 1480px;
}

.friends-img img{
    width: 100%;

}
#my_friends .friends-text{
    background-color: #f7c08a;
    color: #333;
    line-height: 1.7em;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px;
}

.text-center{
    text-align: center;
    color: #f7c08a;
}

ul, li{
    display: block;
    list-style: none;
}

h2 
{
    text-align: center;
    margin: 10px;
    padding: 10px 20px;

}
#contact{
    height: 200px;
}

tr{
    background-color: #333;
}